.screen
  div(ng-if="slide.type === 'desc-list-video'")
    include slides/desc-list-video
  div(ng-if="slide.type === 'desc-img-list'")
    include slides/desc-img-list
  div(ng-if="slide.type === 'desc-one-img'")
    include slides/desc-one-img
  div(ng-if="slide.type === 'des-paragraph-list'")
    include slides/des-paragraph-list
