video.ext-video(controls="", )
  source(type="video/mp4", src="https://cdnapisec.kaltura.com/p/1067742/sp/106774200/playManifest/entryId/1_vairw0m9/flavorId/1_83qh170w/format/url/protocol/https/a.mp4")
