.container
  .row
    .col-md-12
      h1(ng-bind="slide.title")
    .col-md-12
      .row
        .col-md-12
          include partials/sitemap
      div(ng-repeat="(key, value) in slide.body")
        .row
          div(ng-repeat="(k, v) in value")
            .col-md-12(ng-if="k === 'p'")
              p(ng-bind="v")
      div(ng-repeat="(key, value) in slide.body")
        .row
          div(ng-repeat="(k, v) in value")
            div(ng-if="k === 'list'")
              div(ng-if="v.type === 'list-with-span'")
                include lists/span
              div(ng-if="v.type === 'list-with-image'")
                include lists/image
